.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  flex-grow: 1;
}

.checkbox:checked + .text {
  text-decoration: line-through;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: var(--todo-item-color);
  transition: color 500ms linear;
}

.btn:hover {
  color: #b60606;
}

.btn:active {
  color: #b60606;
}

.checkbox {
  width: 48px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--todo-item-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--todo-item-color);
}

.checkbox:checked::before {
  transform: scale(1);
}
